<nav>
    <a href="/" class="<%= (currentPage == 'employees' ? "current" : "")  %>">Employees</a>
    <a href="/projects" class="<%= (currentPage == 'projects' ? "current" : "")  %>">Projects</a>
</nav>